<div class="container-header" >
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand-top">The Seasonal Chef</a>
  </nav>
</div>
<div class="flex-grid-single-ingredients">
  <div id="col-one">Please Select Up To<br>Five (5) Ingredients:</div>
</div>
<div class="grids-one-ingredients">
  <%= form_tag("/recipes", method: :get) do %>
  <% @ingredients.uniq.each do |local| %>
  	<div class="flex-container-ingredients">
      <%= label_tag local.name.capitalize, nil, class: "flex-item-one-ingredients" %>
      <%= check_box_tag("ingredients[]", local.name, false, class: "flex-item-two-ingredients", id: "check_box")%>
  	</div>
   <% end %>
  <div class="submit-button">
    <%= submit_tag('Submit', class: "btn btn-light btn-lg") %>
  </div>
  <% end %>
  <div class="back-button-ingredients">
    <%= link_to 'Back', root_path, class: "btn btn-light btn-lg"%>
  </div>
</div>
<div class="container-footer" >
  <nav class="navbar fixed-bottom navbar-light bg-light">
     <a class="navbar-brand-bottom">All Rights Reserved</a>
  </nav>
</div>
