<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="search_results.scss">
    <!-- <script type="text/javascript" src="recipes.js"></script> -->
  </head>
  <body>
    <div class="container" >
      <div class="container-header" >
        <nav class="navbar fixed-top navbar-light bg-light">
          <a class="navbar-brand-top">The Seasonal Chef</a>
        </nav>
      </div>
      <div class="grids-two">
        <div class="flex-grid-single">
          <div id="col">Search Results</div>
        </div>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://www.organicfacts.net/wp-content/uploads/avocado.jpg' %></li>
          <li class="flex-item-two">Avocado Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://www.producemarketguide.com/sites/default/files/Commodities.tar/Commodities/carambola_commodity-page.png' %></li>
          <li class="flex-item-two">Carambola Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://img.purch.com/h/1000/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA3Ni8yMTkvb3JpZ2luYWwvY3VjdW1iZXJzLmpwZw==' %></li>
          <li class="flex-item-two">Cucumber Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://www.organicfacts.net/wp-content/uploads/2013/06/Eggplant-1020x765.jpg' %></li>
          <li class="flex-item-two">Eggplant Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://www.organicfacts.net/wp-content/uploads/2013/05/Grapefruit21.jpg' %></li>
          <li class="flex-item-two">Grapefruit Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'http://cdn2.collective-evolution.com/assets/uploads/2015/08/guava-759x500.png' %></li>
          <li class="flex-item-two">Guava Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'http://www.freeshareknowshare.com/wp-content/uploads/2016/06/mushroom.jpg' %></li>
          <li class="flex-item-two">Mushroom Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://hdwallsource.com/img/2015/7/orange-46679-48100-hd-wallpapers.jpg' %></li>
          <li class="flex-item-two">Orange Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://wonderopolis.org/wp-content/uploads/2011/04/peanut_shutterstock_65456719.jpg' %></li>
          <li class="flex-item-two">Peanut Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://images.eatthismuch.com/site_media/img/2150_erin_m_933a2dbf-49d9-4e58-ac47-629c2d0b018e.png' %></li>
          <li class="flex-item-two">Radish Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'http://www.wax-oil-flavoring.com/wp-content/uploads/2016/06/Tangerine.jpg' %></li>
          <li class="flex-item-two">Tangerine Recipe Description</li>
        </ul>
        <ul class="flex-container">
          <li class="flex-item-one"><%= image_tag 'https://www.thermofisher.com/blog/wp-content/uploads/2014/08/tomatoes.jpg' %></li>
          <li class="flex-item-two">Tomato Recipe Description</li>
        </ul>
        <!-- <div class="flex-grid-thirds-one">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-two">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-three">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-four">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-five">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-six">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-seven">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-eight">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
        <div class="flex-grid-thirds-nine">
          <div class="col">Image</div>
          <div class="col">Recipe Description</div>
        </div>
      </div> -->
      <div class="container-footer" >
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <a class="navbar-brand-bottom">All Rights Reserved</a>
        </nav>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
